.back{
    position: absolute;
    background-color: lightcoral;
    height: 95%;
    width: 100%;
}

.formclass {
    margin-left: 20%;
}

.header {
    margin-top: 10%;
    margin-left: 10%;
}

.message {
    width: 600px;
}

.fio {
    width: 250px;
}

.container {
    float:left;
}

.butn{
    width: 400px;
    height: 400px;
    margin-top: 100px;
    margin-left: 300px;
    background: url(./pizza.jpg);
    background-size: cover;
    font-size: 72px;
    color: forestgreen;
    -webkit-text-stroke: 1px black;
}

.counter {
    float:right;
    margin-right: 20%;
    margin-top: 10%;
    font-size: 20px;
}

.info {
    margin-left: 40%;
    margin-top: 25%;
}