.back{
    position: absolute;
    background-color: lightcoral;
    height: 100%;
    width: 100%;
}

.formclass {
    margin-top: 20%;
    margin-left: 20%;
}

.header {
    margin-top: 10%;
    margin-left: 10%;
}

.message {
    width: 600px;
}

.fio {
    width: 250px;
}